
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

section {
    width: 400px;
    height: 300px;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

section:hover {
    /* background-color: yellow; */
    font-size: 1.1rem;
}

a:visited {
    color: brown;
}

section::first-letter {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

a:hover {
    background-color: yellow;
}

input:focus {
    background-color: yellow;
}

ol > :nth-child(4) {
    color: blue;
}

ol > :nth-child(2n) {
    color: red;
}

ol > :nth-child(2n + 1) {
    color: green;
}

